body{
    background-color: white;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}
header h1{
    color: #F2285A;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0.5em;
}
table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid #F2285A;
    border-bottom: 3px solid #F2285A;
    text-align: center;
}
table tr th{
    word-break: keep-all;
    overflow: visible;
    font-size: 28px;
    /*width: 200px;
    height: 50px;*/
}
#news_table{
    border: 0;
    margin: 0;
}
a{
    text-decoration-line: none;
    color: #F2285A;
}
.navLink{
    padding: 40px 70px 40px 70px;
}
.navLink:hover{
    color: white;
}
article
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
    width: 1100px;
    height: 600px;
}
#news_article{
    width: 900px;
    height: auto;
    /* border: 1px solid white; */
}
#poster{
    /*display: inline-block;*/
    float: left;
    /* border: 1px solid black; */
    width: 500px;
    height: 600px;
}
#poster img{
    width: 500px;
    height: 600px;
}
#description{
    /*display: inline-block;*/
    float: right;
    /* border: 1px solid black; */
    width: 500px;
    height: 600px;
    text-align: left;
    
}
#date{
    margin-left: 7px;
    margin-top: -5px;
    font-size: 18px;
    color: lightgray;
}
#description h1{
    margin: 5px;
    font-size: 45px;
}
#description hr{
    margin: px;
    height: 5px;
    border: 0;
    background: #F2285A;
}
/* --------------여기 부터는 news.html-------------- */
.picture{
    float: left;
    margin: 20px;
    width: 400px;
    height: 400px;
    /* border: 1px solid white; */
    background-color: white;
    color: black;
}
.detail{
    float: right;
    margin: 20px;
    width: 400px;
    height: 400px;
    /* border: 1px solid white; */
    background-color: white;
    color: black;
}
